# Exercise 00: Select
## Required data

In [1]:
%ls ../data/checking-logs.sqlite

../data/checking-logs.sqlite

## Imports

In [2]:
import pandas as pd
import sqlite3

## Connect to DB and get `pageviews` table info

In [3]:
db_connection = sqlite3.connect('../data/checking-logs.sqlite')

In [4]:
pd.read_sql(sql='PRAGMA table_info(pageviews);', con=db_connection)

   cid      name       type  notnull dflt_value  pk
0    0     index    INTEGER        0       None   0
1    1       uid       TEXT        0       None   0
2    2  datetime  TIMESTAMP        0       None   0

## Get first 10 rows

In [5]:
pd.read_sql(sql='SELECT * FROM pageviews LIMIT 10;', con=db_connection)

   index      uid                    datetime
0      0  admin_1  2020-04-17 12:01:08.463179
1      1  admin_1  2020-04-17 12:01:23.743946
2      2  admin_3  2020-04-17 12:17:39.287778
3      3  admin_3  2020-04-17 12:17:40.001768
4      4  admin_1  2020-04-17 12:27:30.646665
5      5  admin_1  2020-04-17 12:35:44.884757
6      6  admin_1  2020-04-17 12:35:52.735016
7      7  admin_3  2020-04-17 12:36:21.401412
8      8  admin_3  2020-04-17 12:36:22.023355
9      9  admin_1  2020-04-17 13:55:19.129243

## Get specified subdata:
* only uid and datetime are used
* only user data (user_*) is used and not admin data
* it is sorted by uid in ascending order
* the index column is datetime
* datetime is converted to DatetimeIndex
* the name of the dataframe is pageviews

In [6]:
sql_query="""
SELECT 
    uid, datetime
FROM 
    pageviews
WHERE 
    uid LIKE 'user_%'
ORDER BY 
    uid ASC;
"""

pageviews = pd.read_sql(sql=sql_query, con=db_connection, index_col='datetime')
pageviews.name = 'pageviews'

pageviews

                                uid
datetime
2020-04-26 21:53:59.624136   user_1
2020-04-26 22:06:19.478143   user_1
2020-04-26 22:12:09.614497   user_1
2020-04-30 19:29:01.831635   user_1
2020-05-05 20:26:32.894852   user_1
...                             ...
2020-04-29 16:51:21.877630  user_30
2020-05-09 20:30:47.034282  user_30
2020-05-22 11:30:18.368990   user_5
2020-05-21 16:28:28.217529   user_9
2020-05-21 16:36:40.915488   user_9

[987 rows x 1 columns]

In [7]:
pageviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 987 entries, 2020-04-26 21:53:59.624136 to 2020-05-21 16:36:40.915488
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   uid     987 non-null    object
dtypes: object(1)
memory usage: 15.4+ KB

## Close the connection

In [8]:
db_connection.close()